<template>
  <v-card class="chartElem">
    <highcharts class="chart" :options="chartOptions" :updateArgs="updateArgs"></highcharts>
  </v-card>
</template>

<script>
import Vue from "vue";
import HighchartsVue from "highcharts-vue";
import highcharts from "highcharts";

Vue.use(HighchartsVue);

export default {
  name: "Areaspline",
  props: {
    title: String,
    data: Array
  },
  watch: {
    data: {
      immediate: true,
      handler(newData, oldData) {
        this.chartOptions.series[0].data = newData;
      }
    }
  },
  data() {
    return {
      colorInputIsSupported: null,
      animationDuration: 1000,
      updateArgs: [true, true, { duration: 1000 }],
      chartOptions: {
        chart: {
          type: "areaspline",
          marginLeft: 40,
          spacingTop: 20,
          spacingBottom: 20,
          backgroundColor: "rgba(13, 14, 41, 0.15)"
        },
        boost: {
          useGPUTranslations: true
        },
        title: {
          text: this.title
        },
        yAxis: {
          gridLineWidth: 0,
          minorGridLineWidth: 0
        },
        xAxis: {
          gridLineWidth: 0,
          type: "datetime",
          title: {
            text: "Time"
          }
        },
        series: [
          {
            data: [],
            color: this.$vuetify.theme.primary
          }
        ],
        credits: {
          enabled: false
        }
      }
    };
  }
};
</script>

<style scoped>
.chartElem {
  max-width: 800px;
  max-height: 400px;
  mix-blend-mode: normal;
}
</style>