<template>
    <v-card class="chartElem">
      <highcharts class="chart" :options="chartOptions" :updateArgs="updateArgs"></highcharts>
    </v-card>
</template>

<script>
import Vue from "vue"
import HighchartsVue from "highcharts-vue"
import highcharts from "highcharts"

Vue.use(HighchartsVue)

export default {
  name: "Bar",
  props:{
    data: Array
  },
  data () {
    return {
      title: '',
      colorInputIsSupported: null,
      animationDuration: 1000,
      updateArgs: [true, true, {duration: 1000}],
      chartOptions: {
        chart: {
            type: "bar",
            marginLeft: 40,
            spacingTop: 20,
            spacingBottom: 20,
            backgroundColor:"#343434"
        },
        boost:{
          useGPUTranslations: true
        },
        yAxis:{
          gridLineWidth: 0,
          minorGridLineWidth: 0,
        },
        xAxis:{
          gridLineWidth: 0,
        },
        series: [{
          data: [],
          color: this.$vuetify.theme.primary
        }],
        credits:{
          enabled: false
        }
      }
    }
  },   
  watch:{
    data: function(newData, oldData){
      this.chartOptions.series[0].data = newData;
    }
  } 
}

</script>

<style scoped>
.chartElem{
    max-width: 800px;
    max-height: 400px;
}
</style>