<template>
  <v-card class="chartElem">
    <highcharts id="container" :options="chartOptions" :updateArgs="updateArgs"></highcharts>
  </v-card>
</template>

<script>
import Vue from "vue";
import HighchartsVue from "highcharts-vue";
import highcharts from "highcharts";
import heatmap from "highcharts/modules/heatmap";
heatmap(highcharts);
Vue.use(HighchartsVue);

export default {
  name: "Heatmap",
  components: {},
  props: {
    title: null,
    data: Object
  },
  data() {
    return {
      colorInputIsSupported: null,
      animationDuration: 1000,
      updateArgs: [true, true, { duration: 1000 }],
      chartOptions: {
        chart: {
          type: "heatmap",
          marginLeft: 40,
          spacingTop: 20,
          spacingBottom: 20,
          plotBorderWidth: 1
        },
        boost: {
          useGPUTranslations: true
        },
        title: {
          text: this.title
        },
        xAxis: {
          categories: [
            "January",
            "February",
            "March",
            "April",
            "May",
            "June",
            "July",
            "August",
            "September",
            "Oktober",
            "November",
            "Desember"
          ]
        },

        yAxis: {
          categories: [1, 2, 3, 4],
          title: null,
          labels: {
            enabled: false
          }
        },

        colorAxis: {
          min: 0,
          minColor: "#FFFFFF",
          maxColor: "#3ba170"
        },

        legend: {
          align: "right",
          layout: "vertical",
          margin: 0,
          verticalAlign: "top",
          y: 25,
          symbolHeight: 280
        },

        tooltip: {
          formatter: function() {
            return "<b> Alerts: " + this.point.value + "</b>";
          }
        },

        series: [
          {
            name: "Sales per employee",
            borderWidth: 1,
            data: [
              [0, 0, 10],
              [0, 1, 19],
              [0, 2, 8],
              [0, 3, 24],
              [0, 4, 67],
              [1, 0, 92],
              [1, 1, 58],
              [1, 2, 78],
              [1, 3, 117],
              [1, 4, 48],
              [2, 0, 35],
              [2, 1, 15],
              [2, 2, 123],
              [2, 3, 64],
              [2, 4, 52],
              [3, 0, 72],
              [3, 1, 132],
              [3, 2, 114],
              [3, 3, 19],
              [3, 4, 16],
              [4, 0, 38],
              [4, 1, 5],
              [4, 2, 8],
              [4, 3, 117],
              [4, 4, 115],
              [5, 0, 88],
              [5, 1, 32],
              [5, 2, 12],
              [5, 3, 6],
              [5, 4, 120],
              [6, 0, 13],
              [6, 1, 44],
              [6, 2, 88],
              [6, 3, 98],
              [6, 4, 96],
              [7, 0, 31],
              [7, 1, 1],
              [7, 2, 82],
              [7, 3, 32],
              [7, 4, 30],
              [8, 0, 85],
              [8, 1, 97],
              [8, 2, 123],
              [8, 3, 64],
              [8, 4, 84],
              [9, 0, 47],
              [9, 1, 114],
              [9, 2, 31],
              [9, 3, 48],
              [9, 4, 91]
            ]
          }
        ],
        credits: {
          enabled: false
        }
      }
    };
  }
};
</script>

<style scoped>
.chartElem {
  min-width: 700px;
  max-width: 850px;
}
</style>