<template>
  <v-card class="chartElem">
    <highcharts class="chart" :options="chartOptions" :updateArgs="updateArgs"></highcharts>
  </v-card>
</template>

<script>
import Vue from "vue";
import HighchartsVue from "highcharts-vue";
import highcharts from "highcharts";

Vue.use(HighchartsVue);

export default {
  name: "MultipleSeries",
  props: {
    title: String,
    data: Object
  },
  watch: {
    data: {
      immediate: true,
      handler(newData, oldData) {
        this.chartOptions.series = [];
        Object.keys(newData).forEach(key => {
          const tmp = newData[key];
          this.chartOptions.series.push({ name: key, data: tmp });
        });
      }
    }
  },
  data() {
    return {
      colorInputIsSupported: null,
      animationDuration: 1000,
      updateArgs: [true, true, { duration: 1000 }],
      chartOptions: {
        chart: {
          type: "line",
          marginLeft: 40,
          spacingTop: 20,
          spacingBottom: 20
        },
        boost: {
          useGPUTranslations: true
        },
        title: {
          text: this.title
        },
        yAxis: {
          gridLineWidth: 0,
          minorGridLineWidth: 0
        },
        xAxis: {
          gridLineWidth: 0,
          type: "datetime",
          title: {
            text: "Time"
          }
        },
        legend: {
          enabled: true,
          itemStyle: {
            font: "8pt Trebuchet MS, Verdana, sans-serif",
            color: "#A0A0A0"
          },
          layout: "vertical",
          align: "right",
          verticalAlign: "top",
          floating: true,
          y: 10
        },
        series: [],
        credits: {
          enabled: false
        }
      }
    };
  }
};
</script>

<style scoped>
.chartElem {
  min-width: 700px;
  max-width: 850px;
}
</style>