<template>
  <div>
    <div class="wrapper">
      <MultipleSeriesChart class="chart1" title="Temperature" :data="temperature"/>
      <MultipleSeriesChart class="chart3" title="Humidity" :data="humidity"/>
      <Heatmap class="chart2" title="Alerts" :data="temperature"/>
    </div>
    <Navigator/>
  </div>
</template>

<script>
import firebase from "firebase";
import MultipleSeriesChart from "@/components/charts/MultipleSeries.vue";
import Navigator from "@/components/Navigator.vue";
import Heatmap from "@/components/charts/Heatmap.vue";

export default {
  name: "Analytics",
  components: {
    MultipleSeriesChart,
    Navigator,
    Heatmap
  },
  data() {
    return {
      temperature: {},
      humidity: {},
      altitude: {},
      alerts: [],
      headers: [],
      options: {}
    };
  },
  beforeCreate() {
    firebase
      .firestore()
      .collection("sensorstream")
      .where("time", ">", 0)
      .orderBy("time", "asc")
      .onSnapshot(query => {
        let types = {
          temperature: {},
          humidity: {},
          altitude: {}
        };
        let alerts = [];
        //for each sensorreading
        query.forEach(element => {
          const {
            id,
            time,
            temperature,
            humidity,
            altitude,
            latitude,
            longitude,
            alert
          } = element.data();
          //add data to tables
          types.temperature[id]
            ? (types.temperature[id] = [
                ...types.temperature[id],
                [time, temperature]
              ])
            : (types.temperature[id] = [[time, temperature]]);
          types.humidity[id]
            ? (types.humidity[id] = [...types.humidity[id], [time, humidity]])
            : (types.humidity[id] = [[time, humidity]]);
          types.altitude[id]
            ? (types.altitude[id] = [...types.altitude[id], [time, altitude]])
            : (types.altitude[id] = [[time, altitude]]);
          //if alert, push data to alert table
          alert
            ? alerts.push({ id, time, latitude, longitude, temperature })
            : null;
        });
        this.temperature = types.temperature;
        this.humidity = types.humidity;
        this.altitude = types.altitude;
        this.alerts = alerts;
        Object.keys(alerts[0]).forEach(key => {
          this.headers.push({ text: key, value: key });
        });
      });
  }
};
</script>

<style scoped>
.wrapper {
  left: 10%;
  top: 10%;
  right: 10%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr 1fr;
  column-gap: 2em;
  row-gap: 2em;
  grid-template-areas: 
    "chart1  chart2"
    "chart3    .   ";                  
}

.chart1 {
  border-radius: 15px;
  grid-area: chart1;
}
.chart2 {
  border-radius: 15px;
  grid-area: chart2;
}
.chart3 {
  border-radius: 15px;
  grid-area: chart3;
}
</style>