<template>
  <div>
    <div class="wrapper">
      <div>
        <v-autocomplete
          class="search"
          v-model="model"
          :items="devices"
          :loading="isLoading"
          :search-input.sync="search"
          color="white"
          hide-no-data
          hide-selected
          item-text="Description"
          item-value="API"
          label="Devices"
          placeholder="Start typing to Search"
          prepend-icon="search"
          return-object
        ></v-autocomplete>
      </div>
      <AreasplineChart v-if="temperature.length > 0" class="chart1" title="Temperature" :data="temperature"></AreasplineChart>
      <AreasplineChart v-if="humidity.length > 0" class="chart2" title="Humidity" :data="humidity"></AreasplineChart>
    </div>
    <Leaflet class="map" :data="readings" :coords="coords" @selected="getSensorData"/>
    <Navigator class="nav"/>
  </div>
</template>

<script>
import firebase from "firebase";
import AreasplineChart from "@/components/charts/Areaspline.vue";
import SearchBar from "@/components/Searchbar.vue";
import Snackbar from "@/components/Snackbar.vue";
import Leaflet from "@/components/Leaflet.vue";
import Navigator from "@/components/Navigator.vue";

export default {
  name: "draft",
  components: {
    AreasplineChart,
    Snackbar,
    Leaflet,
    Navigator
  },
  data() {
    return {
      temperature: [],
      humidity: [],
      altitude: [],
      coords: [],
      devices: [],
      alerts: [],
      readings: [],
      model: null,
      count: 0,
      isLoading: false,
      search: null,
      bottomNav: 3,
      color: "#0d0e29",
    };
  },
  beforeMount() {
    this.getLatestSamples();
  },
  watch: {
    search(val) {
      // Items have already been loaded
      if (this.items.length > 0) return;
      // Items have already been requested
      if (this.isLoading) return;
      this.isLoading = true;
      firebase
        .firestore()
        .collection("devices")
        .where("id", ">", "")
        .onSnapshot(query => {
          query.forEach(element => {
            this.devices = [...this.devices, element.data().id];
          });
          this.isLoading = false;
        });
    },
    model(val) {
      val !== null ? this.getSensorData(val) : null;
    }
  },
  computed: {
    items() {
      return this.devices.map(entry => {
        return entry;
      });
    }
  },
  methods: {
    getLatestSamples() {
      firebase
        .firestore()
        .collection("latest")
        .onSnapshot(query => {
          const tmp = [];
          query.forEach(element => {
            const {
              id,
              latitude,
              longitude,
              altitude,
              time,
              alert,
            } = element.data();
            if (latitude == undefined && longitude == null) return;
            tmp.push({
              id: id,
              latitude: latitude,
              longitude: longitude,
              altitude: altitude,
              latitude: latitude,
              longitude: longitude,
              time: this.timeConversion(time),
              alert: alert
            });
          });
          this.readings = tmp;
        });
    },
    getSensorData(val) {
      if(val == null) return;
      firebase
        .firestore()
        .collection("sensorstream")
        .where("id", "==", val)
        .where("time", ">", 0)
        .orderBy("time", "asc")
        .onSnapshot(query => {
          let temperatures = [];
          let humidities = [];
          let altitudes = [];
          let alerts = [];
          let coords = [];
          //for each sensorreading
          query.forEach(element => {
            const {
              id,
              time,
              temperature,
              humidity,
              latitude,
              longitude,
              altitude,
              alert,
            } = element.data();
            //add data to tables
            temperatures = [...temperatures, [time, temperature]];
            humidities = [...humidities, [time, humidity]];
            altitudes = [...altitudes, [time, altitude]];
            coords = [...coords, [latitude, longitude]];
            //if alert, push data to alert table
            alert
              ? alerts.push({ id, time, latitude, longitude, temperature })
              : null;
          });
          this.temperature = temperatures;
          this.humidity = humidities;
          this.altitude = altitudes;
          this.coords = coords;
        });
    },
    timeConversion(t) {
      const date = new Date(t);
      return `${date.toLocaleDateString()} ${date.getHours()}:${date.getMinutes()}`;
    }   
  }
};
</script>

<style scoped>
.wrapper {
  height: 100%;
  width: 34%;
  position: absolute;
  top: 2%;
  bottom: 200px;
  right: 0;
  z-index: 100;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas:
    "search "
    "chart1"
    "chart2"
    "chart3";
}
.map {
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 200px;
  left: 0;
  right: 0;
  z-index: 0;
  cursor: grab;
}
.nav {
  z-index: 200;
}
.search {
  width: 95%;
  grid-area: search;
}
.chart1 {
  grid-area: chart1;
  width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(13, 14, 41, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}
.chart2 {
  grid-area: chart2;
  width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(13, 14, 41, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}
.chart3 {
  grid-area: chart3;
  width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(13, 14, 41, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}
</style>