<template>
  <v-app class="app">
    <v-container grid-list-lg text-xs-center>
      <v-layout row wrap>
        <!-- xs < 600px < sm < 960px < md < 1264 < lg < 1904 < xl  -->
        <sidebar/>
        <v-flex xs12 sm10 md8 lg12 xl10>
          <v-autocomplete
            v-model="model"
            :items="devices"
            :loading="isLoading"
            :search-input.sync="search"
            color="white"
            hide-no-data
            hide-selected
            item-text="Description"
            item-value="API"
            label="Devices"
            placeholder="Start typing to Search"
            prepend-icon="search"
            return-object
          ></v-autocomplete>
        </v-flex>
        <v-flex xs12 md12 lg6 xl6>
          <AreasplineChart class="chart" title="Temperature" :data="temperature"></AreasplineChart>
        </v-flex>
        <v-flex xs12 md12 lg6 xl6>
          <AreasplineChart class="chart" title="Humidity" :data="humidity"></AreasplineChart>
        </v-flex>
        <v-flex xs12 md12 lg6 xl6>
          <AreasplineChart class="chart" title="Altitude" :data="humidity"></AreasplineChart>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import firebase from "firebase";
import Sidebar from "@/components/Sidebar.vue";
import AreasplineChart from "@/components/charts/Areaspline.vue";
import BarChart from "@/components/charts/Bar.vue";
import MultipleSeriesChart from "@/components/charts/MultipleSeries.vue";
import Toolbar from "@/components/Toolbar.vue";
import SearchBar from "@/components/Searchbar.vue";
import Snackbar from "@/components/Snackbar.vue";
import Table from "@/components/Table.vue";
import Leaflet from "@/components/Leaflet.vue";

export default {
  name: "draft",
  components: {
    Toolbar,
    Sidebar,
    AreasplineChart,
    BarChart,
    MultipleSeriesChart,
    Snackbar,
    Table,
    Leaflet
  },
  data() {
    return {
      temperature: [],
      humidity: [],
      altitude: [],
      coords: [],
      devices:[],
      alerts: [],
      model: null,
      count: 0,
      isLoading: false,
      search: null
    };
  },
/*   beforeMount() {
    this.getSensorData();
    this.getAlerts();
  }, */
  watch: {
    search(val) {
      // Items have already been loaded
      if (this.items.length > 0) return;
      // Items have already been requested
      if (this.isLoading) return;
      this.isLoading = true;
      firebase
        .firestore()
        .collection("devices")
        .where("id", ">", "")
        .onSnapshot(query => {
          query.forEach(element => {
            this.devices = [...this.devices, element.data().id];
          });
          this.isLoading = false;
        });
    },
    model(val) {
      val !== null ? this.getSensorData(val) : null;
    }
  },
  computed: {
    items() {
      return this.devices.map(entry => {
        return entry;
      });
    }
  },
  methods: {
    getSensorData(val) {
      firebase
        .firestore()
        .collection("sensorstream")
        .where("id", "==", val)
        .where("time", ">", 0)
        .orderBy("time","desc")
        .onSnapshot(query => {
          let temperatures = [];
          let humidities = [];
          let altitudes = [];
          let alerts = [];
          //for each sensorreading
          query.forEach(element => {
            const {
              id,
              time,
              temperature,
              humidity,
              latitude,
              longitude,
              altitude,
              alert
            } = element.data();
            //add data to tables
            temperatures = [...temperatures,[time, temperature]];
            humidities = [...humidities,[time, humidity]];
            altitudes = [...altitudes,[time, altitude]];
            //if alert, push data to alert table
            alert
              ? alerts.push({ id, time, latitude, longitude, temperature })
              : null;
          });
          this.temperature = temperatures;
          this.humidity = humidities;
          this.altitude = altitudes;
        });
    },
    time_conversion(t) {
      let time = (new Date().getTime() - t) / 60000000;
      return time < 60
        ? `${Math.floor(time)} m ago`
        : time < 60 * 24
        ? `${Math.floor(time)} h ago`
        : `${Math.floor(time)} d ago`;
    }
  }
};
</script>

<style scoped>
.app {
  background: radial-gradient(1080.32px at 0% 0%, #543663 0%, #242842 100%);
  background-blend-mode: overlay, normal;
}

.alerts {
  max-width: 800px;
  max-height: 400px;
}
.card {
  width: 350px;
  height: 250px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(13, 14, 41, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}
.chart {
  width: 700px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  background-color: rgba(13, 14, 41, 0.15);
  backdrop-filter: blur(5px);
  border-radius: 15px;
}
.header {
  position: relative;
  font-size: 20pt;
  top: 2%;
}
.value {
  position: relative;
  font-size: 70pt;
  top: 5%;
}
.map {
  width: 800px;
  height: 500px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
</style>