<template>
  <v-app class="app">
    <v-container grid-list-lg text-xs-center>
      <v-layout row wrap justify-center  pl-5>
        <v-flex 0 xs0 sm0 md0 lg0 xl>
          <sidebar/>
        </v-flex>
        <v-flex xs12 sm12 md12 lg12 xl12>
          <Leaflet class="map" :data="readings"></Leaflet>
        </v-flex>
      </v-layout>
    </v-container>
  </v-app>
</template>

<script>
import firebase from "firebase";
import Sidebar from "@/components/Sidebar.vue";
import Toolbar from "@/components/Toolbar.vue";
import Leaflet from "@/components/Leaflet.vue";

export default {
  name: "Map",
  components: {
    Sidebar,
    Toolbar,
    Leaflet
  },
  data() {
    return {
      readings: []
    };
  },
  methods: {
    currentTime(sensorTime) {
      /* Calculate minutes/hours/days since sensors was measured */
      const ago = (new Date().getTime() - sensorTime) / 60000;
      return ago < 60
        ? `${Math.floor(ago)} m `
        : ago < 60 * 24
        ? `${Math.floor(ago / 60)} h `
        : `${Math.floor(ago / 60 / 24)} d `;
    }
  },
  beforeCreate() {
    firebase
      .firestore()
      .collection("sensorstream")
      .onSnapshot(query => {
        const tmp = [];
        query.forEach(element => {
          const {
            latitude,
            longitude,
            signal_strength,
            type,
            value,
            time,
            alert
          } = element.data();
          if (latitude == undefined && longitude == null) return;
          tmp.push({
            type: type,
            value: value,
            signal_strength: signal_strength,
            latitude: latitude,
            longitude: longitude,
            time: this.currentTime(time * 1000),
            alert: alert
          });
        });
        this.readings = tmp;
      });
  }
};
</script>

<style scoped>
.app {
  background: radial-gradient(744.32px at 0% 0%, #543663 0%, #242842 100%);
  background-blend-mode: overlay, normal;
}
.map {
  width: 1900px;
  height: 1050px;
  border-radius: 15px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
</style>
