<template>
  <div>
    <div class="wrapper">
      <v-slider class="slider" v-model="amount" :max="max" :min="min" :step="step" label="Documents"></v-slider>
      <v-btn id="button" color="primary" class="white--text" @click="upload">
        <v-icon right dark>cloud_upload</v-icon>
        <span>Upload</span>
        <div class="amount">{{this.amount}}</div>
      </v-btn>
      <Snackbar :show="snackbar" :text="text" :color="color"></Snackbar>
    </div>
    <Navigator/>
  </div>
</template>

<script>
import Snackbar from "@/components/Snackbar.vue";
import Navigator from "@/components/Navigator.vue";
const sizeof = require("object-sizeof");

const url =
  "https://firestore.googleapis.com/v1/projects/eksperter-i-team/databases/(default)/documents/sensorstream?key=AIzaSyDxbhspsoM7XO8LO9b-tDbIGXr-Ok8ovkg";
const bourne_identity = ["001", "002", "003"];
const alerts = [true, false];

export default {
  name: "Mock",
  data() {
    return {
      amount: 1,
      max: 20,
      min: 1,
      step: 1,
      snackbar: false,
      text: "",
      color: ""
    };
  },
  components: {
    Snackbar,
    Navigator
  },
  methods: {
    randomValue(max, min) {
      return Math.random() * (max - min) + min;
    },
    async post(data) {
      const rawResponse = await fetch(
        "https://europe-west1-eksperter-i-team.cloudfunctions.net/mock",
        {
          method: "POST",
          mode: "no-cors",
          dataType: "JSON",
          headers: {
            "Content-Type": "application/json"
          },
          body: JSON.stringify(data)
        }
      );
      console.log(rawResponse);
    },
    upload() {
      for (let index = 0; index < this.amount; index++) {
        let data = {
          id: bourne_identity[Math.floor(this.randomValue(3, 0))],
          latitude: this.randomValue(63.43, 63.27),
          longitude: this.randomValue(10.6, 10.15),
          altitude: this.randomValue(565, 0),
          humidity: Math.floor(this.randomValue(100, 0)),
          temperature: Math.floor(this.randomValue(40, -20)),
          alert: alerts[Math.floor(this.randomValue(0, 2))]
        };
        this.post(data);
      }
    }
  }
};
</script>

<style scoped>
.wrapper {
  left: 10%;
  top: 40%;
  right: 10%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "slider"
    "amount"
    "button";   
}
#button {
  left: 40%;
  width: 20%;
}
</style>
