<template>
  <div>
    <div class="wrapper">
      <Table class="table" :headers="headers" :data="readings" :loading="loading"/>
    </div>
    <Navigator/>
  </div>
</template>

<script>
import firebase from "firebase/app";
import Table from "@/components/Table.vue";
import Navigator from "@/components/Navigator.vue";

export default {
  name: "draft",
  components: {
    Table,
    Navigator
  },
  data() {
    return {
      readings: [],
      headers: [],
      loading: true
    };
  },
  beforeCreate() {
    firebase
      .firestore()
      .collection("sensorstream")
      .where("id", ">", "")
      .onSnapshot(query => {
        const tmp = [];
        query.forEach(element => {
          tmp.push(element.data());
        });

        //add header
        Object.keys(tmp[0]).forEach(key => {
          this.headers.push({ text: key, value: key });
        });

        //sort by time
        tmp.sort((a, b) => {
          return a.time > b.time ? -1 : b.time > a.time ? 1 : 0;
        });

        //show difference in time from now and when the reading took place
        tmp.forEach(element => {
          element.time = this.time_conversion(element.time);
        });

        this.readings = tmp;
        this.loading = false;
      });
  },
  methods: {
    time_conversion(t) {
      let time = (new Date().getTime() - t) / 60000000;
      return time < 60
        ? `${Math.floor(time)} m ago`
        : time < 60 * 24
        ? `${Math.floor(time)} h ago`
        : `${Math.floor(time)} d ago`;
    }
  }
};
</script>

<style scoped>
.wrapper {
  left: 10%;
  top: 10%;
  right: 10%;
  position: absolute;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "table";   
}
.table {
  grid-area: table;
  border-radius: 12px;
}
</style>
