<template>
  <div class="container">
    <div class="col-md-8 control-section">
      <div class="content-wrapper">
        <ejs-circulargauge
          ref="circulargauge"
          style="display:block"
          align="center"
          id="direction-container"
          :axisLabelRender="axisLabelRender"
        >
          <e-axes>
            <e-axis
              :radius="radius"
              :startAngle="startAngle"
              minimum="0"
              maximum="8"
              :endAngle="endAngle"
              :majorTicks="majorTicks"
              :lineStyle="lineStyle"
              :minorTicks="minorTicks"
              :labelStyle="labelStyle"
              :ranges="ranges"
            >
              <e-pointers>
                <e-pointer
                  :value="value1"
                  :radius="pointerRadius1"
                  :color="color1"
                  :pointerWidth="pointerWidth1"
                  :cap="cap1"
                  :animation="animation1"
                ></e-pointer>
                <e-pointer
                  :value="value2"
                  :radius="pointerRadius2"
                  :color="color2"
                  :pointerWidth="pointerWidth2"
                  :cap="cap2"
                  :animation="animation2"
                ></e-pointer>
              </e-pointers>
            </e-axis>
          </e-axes>
        </ejs-circulargauge>
      </div>
    </div>
  </div>
</template>

<script>
import Vue from "vue";
import { CircularGaugePlugin } from "@syncfusion/ej2-vue-circulargauge";
Vue.use(CircularGaugePlugin);
export default {
  name: "Compass",
  props: {
    course: Number
  },
  data: function() {
    return {
      radius: "70%",
      lineStyle: {
        width: 10,
        color: "#E0E0E0"
      },
      labelStyle: {
        font: {
          size: "12px",
          fontFamily: "Roboto"
        },
        useRangeColor: true,
        autoAngle: true,
        hiddenLabel: "Last"
      },
      majorTicks: {
        height: 15,
        interval: 1,
        color: "#9E9E9E"
      },
      minorTicks: {
        height: 10,
        interval: 0.5,
        color: "#9E9E9E"
      },
      startAngle: 0,
      endAngle: 360,
      ranges: [
        {
          start: 0,
          end: 8,
          color: "#f03e3e"
        }
      ],
      value1: 0,
      pointerRadius1: "50%",
      color1: "#f03e3e",
      pointerWidth1: 20,
      cap1: {
        radius: 0
      },
      animation1: {
        enable: false
      },
      value2: 4,
      pointerRadius2: "50%",
      color2: "#9E9E9E",
      pointerWidth2: 20,
      cap2: {
        radius: 0
      },
      animation2: {
        enable: false
      },
      poiterColordata: ["#f03e3e", "#4472c4", "#ed7d31"],
      poiterColorwidth: 120,
      poiterColorplaceholder: "Select Range Bar Color",
      labelColordata: ["#f03e3e", "#4472c4", "#ed7d31"],
      labelColorwidth: 120,
    };
  },
  methods: {
    load: function(args) {
      let selectedTheme = location.hash.split("/")[1];
      selectedTheme = selectedTheme ? selectedTheme : "Material";
      args.gauge.theme =
        selectedTheme.charAt(0).toUpperCase() + selectedTheme.slice(1);
    },
    axisLabelRender: function(args) {
      let value = ["N", "NE", "E", "SE", "S", "SW", "W", "NW", ""];
      args.text = value[args.value];
    }
  },
  watch: {
    course: {
        immediate: true,
        handler (val) {
            const direction = Math.round((Math.abs(val) / 360) * 10);
            this.value1 = direction;
            this.value2 = ((direction + 4) % 8); 
        }
    }
  }
};
</script>

<style>
.container{
    position: relative;
    margin:auto;
}
</style>
