<template>
  <v-footer class="pa-3" color='#1e1f21' app>
    <span>{{ name }}</span>
    <v-spacer></v-spacer>
    <span>&copy; {{ year }}</span>
  </v-footer>
</template>

<script>
export default {
  name: "my-footer",
  data() {
    return {
      name: "Eksperter i Team",
    };
  },
  beforeCreate(){
    this.year = new Date().getFullYear();
  },
};
</script>

<style scoped>
</style>
