<template>
  <div id="map" class="map"/>
</template>
<script>
import L from "leaflet";

const tileURLDark =
  "https://api.mapbox.com/styles/v1/mapbox/dark-v9/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2t1Z2dlIiwiYSI6ImNqczBtbzlzbjAya3Q0NG8xM3c2N3RocXEifQ.2ya-xmU3PXodYyauFpGLPA";

const tileURL =
  "https://api.mapbox.com/styles/v1/mapbox/light-v9/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoic2t1Z2dlIiwiYSI6ImNqczBtbzlzbjAya3Q0NG8xM3c2N3RocXEifQ.2ya-xmU3PXodYyauFpGLPA";
const alertIcon = L.icon({
  iconUrl:
    "https://cdn2.iconfinder.com/data/icons/color-svg-vector-icons-2/512/error_warning_alert_attention-512.png",
  iconSize: [30, 30]
});

export default {
  name: "Leaflet",
  props: {
    data: Array, //latest samples with coordinates
    coords: Array //coordinates for specific device
  },
  data() {
    return {
      map: null,
      tileLayer: null,
      pathGroup: null,
      path: [],
    };
  },
  mounted() {
    this.initMap();
  },
  //Listen for new props
  watch: {
    data: function(newData, oldData) {
      newData.forEach(element => {
        this.addData(
          element.id,
          element.latitude,
          element.longitude,
          ` <b> ${element.id} </b>
            <dd>Time: ${element.time} </dd>
            <dd>Latitude: ${element.latitude} </dd>
            <dd>Longitude: ${element.longitude} </dd>
            <dd>Altitude: ${element.altitude} </dd>
          `,
          element.alert
        ); //create a marker and add it to map
      });
    },
    coords: function(newData, oldData) {
      let path = [];
      newData.forEach(element => {
        path = [...path, new L.LatLng(element[0], element[1])];
      });
      this.path = path;
      this.drawPath();
    }
  },
  methods: {
    initMap() {
      this.map = L.map("map").setView([63.414809, 10.405758], 12);
      this.tileLayer = L.tileLayer(tileURL, {
        maxZoom: 20,
        attribution:
          '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>, &copy; <a href="https://carto.com/attribution">CARTO</a>'
      });
      this.tileLayer.addTo(this.map);
    },
    addData(id,latitude, longitude, data, alert = false) {
      const pop = L.popup({
        closeButton: false
      }).setContent(data);
      const marker = alert
        ? L.marker([latitude, longitude], { icon: alertIcon })
        : L.marker([latitude, longitude]);
      marker.on('click', (e) => {
        this.$emit('selected', id); //emit selected marker to parent
      });
      marker.bindPopup(pop).addTo(this.map);
    },
    drawPath() {
      if (this.path.length > 0) {
        if(this.pathGroup) this.map.removeLayer(this.pathGroup); //remove existing polylines
        const polyline = new L.Polyline(this.path, {
          color: "#3ba170",
          weight: 3,
          opacity: 0.5,
          smoothFactor: 1
        });
        this.pathGroup = L.layerGroup().addTo(this.map);
        polyline.addTo(this.pathGroup);
      }
    }
  }
};
</script>
<style scoped>
.map {
  position: relative;
  min-height: 400px;
  min-width: 700px;
}
.card {
  width: 200px;
  height: 200px;
}
</style>

