<template>
  <v-bottom-nav
    class="nav"
    color="#3ba170"
    :value="true"
    absolute
    dark
    shift
  >
    <v-btn to="home">
      <span>Map</span>
      <v-icon>map</v-icon>
    </v-btn>
    <v-btn to="analytics">
      <span>Analytics</span>
      <v-icon>dashboard</v-icon>
    </v-btn>
    <v-btn to="raw">
      <span>Raw</span>
      <v-icon>list</v-icon>
    </v-btn>
    <v-btn to="mock">
      <span>Mock</span>
      <v-icon>create</v-icon>
    </v-btn>
  </v-bottom-nav>
</template>

<script>
export default {
  name: "Navigator",
  props: {
    color: String
  }
};
</script>

<style scoped>
</style>