<template>
  <v-navigation-drawer class="drawer" app>
    <v-list dense>
      <v-list-tile to="home">
        <v-list-tile-action>
          <v-icon>dashboard</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Dashboard</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile to="map">
        <v-list-tile-action>
          <v-icon>map</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Map</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile to="raw">
        <v-list-tile-action>
          <v-icon>code</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Raw</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-list-tile to="mock">
        <v-list-tile-action>
          <v-icon>create</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Mock</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
      <v-divider />
      <v-list-tile @click="logout">
        <v-list-tile-action>
          <v-icon>exit_to_app</v-icon>
        </v-list-tile-action>
        <v-list-tile-content>
          <v-list-tile-title>Log out</v-list-tile-title>
        </v-list-tile-content>
      </v-list-tile>
    </v-list>
  </v-navigation-drawer>
</template>
<script>
import firebase from "firebase";

export default {
  name: "sidebar",
  data() {
    return {};
  },
  computed: {
    left() {
      return this.$store.state.sidebar;
    }
  },
  methods: {
    logout: function() {
      firebase
        .auth()
        .signOut()
        .then(() => {
          this.$router.replace("login");
        });
    }
  }
};
</script>

<style scoped>
.drawer {
  background-color: rgba(13, 14, 41, 0.15);
  mix-blend-mode: normal;
}
</style>
