<template>
  <v-snackbar v-model="snackbar" :color="color" :timeout="timeout">
    {{ text }}
    <v-btn dark flat @click="snackbar = false">Close</v-btn>
  </v-snackbar>
</template>
<script>
export default {
  name: "Snackbar",
  props: {
    show: Boolean,
    text: String,
    color: String
    //callback: Function
  },
  data() {
    return {
      snackbar: false,
      timeout: 6000
    };
  },
  watch: {
    show: {
      immediate: true,
      handler(newData, oldData) {
        console.log(newData);
        this.snackbar = newData;
      }
    }
  }
};
</script>
<style scoped>
</style>
