<template>
  <v-card class="table">
    <v-data-table 
      :headers="headers"
      :items="data"
      :search="search"
      :loading="loading"
      :pagination.sync="pagination"
      class="table"
    >
      <v-progress-linear slot="progress" color="green" indeterminate></v-progress-linear>
      <template slot="items" slot-scope="props">
        <td class="text-xs" v-for="header in headers">{{props.item[header.value]}}</td>
      </template>
    </v-data-table>
  </v-card>
</template>
<script>
import Vue from "vue";

export default {
  name: "Table",
  props: {
    headers: Array,
    data: Array,
    loading: Boolean,
    rowcount: String
  },
  data() {
    return {
      search: "",
      items: null,
      pagination: {
        rowsPerPage: this.rowcount ? this.rowcount : 10,
      }
    };
  }
};
</script>
<style scoped>
.table {
  position: relative;
  background-color: rgba(13, 14, 41, 0.15);
  mix-blend-mode: normal;
  border-radius: 12px;
}
</style>