<template>
  <v-toolbar id="toolbar" clipped-left app class="white--text text--lighten-1">
    <v-toolbar-side-icon class="hidden-lg-and-up" @click="toggle" dark/>
    <v-toolbar-title to="/">EiT</v-toolbar-title>
  </v-toolbar>
</template>

<script>
export default {
  name: "toolbar",
  data() {
    return {};
  },
  methods: {
    toggle() {
      this.$store.commit("toggleNavbar");
    }
  }
};
</script>

<style scoped>
#toolbar {
  background: radial-gradient(744.32px at 0% 0%, #543663 0%, #242842 100%);
  background-blend-mode: overlay, normal;
}
</style>
