<template>
  <v-app id="app" overflow-y>
    <router-view></router-view>
  </v-app>
</template>

<script>
import store from "./store.js";
export default {
  name: "App",
  store,
  components: {},
  data() {
    return {};
  }
};
</script>

<style>
html {
  overflow-y: auto;
}

#app {
  background-color: "#0076cf";
}
</style>
